# Ignore ROS 2 build artifacts
build/
install/
log/

# Python bytecode
*.pyc
__pycache__/

# Backup and temporary files
*.swp
*.bak
*.tmp
*.DS_Store

# CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
